* {
   margin: 0;
   padding: 0;
   }

.sidebar {
  background: #1992d4;
  color: #fff;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 15px;
  padding: 30px 5px;
}

.sidebar li {
  display: grid;
  gap: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 20fr;
  align-items: center;
}

.sidebar .logo {
  height: 35px;
}
.sidebar img {
  height: 20px;
  padding-right: 10px;
}
.sidebar span {
  font-size: 1.2rem;
}

/*
 * =========
 * Top Bar 1 
 * =========
 */

.topbar-1 img {
  height: 20px;
}

.topbar-1 .active-icon {
  height: 40px;
}

#search {
  background: #e2e8f0;
  border: none;
  border-radius: 10px;
  height: 1.4rem;
  width: 375px;
}

.topbar-1 p {
  font-weight: bold;
}

/*
 * =========
 * Top Bar 2 
 * =========
 */

.topbar-2 span {
  font-weight: bold;
}

.topbar-2 h1 {
  font-size: 1.5rem;
}

.topbar-2 .active-icon {
  height: 55px;
}

.topbar-2 button {
  border-radius: 15px;
  border: none;
  background: #1992d4;
  width: 100px;
  height: 30px;
  padding: 5px ;
}

.topbar-2 a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*
 * =========
 * Projects 
 * =========
 */
.projects {
  background: #e2e8f0;
}
.projects .card {
  border-left: #f0b425 5px solid;
  border-radius: 5px;
  background: #fff;
  width: 250px;
}

.card img {
  height: 20px;
}
